{% set bgImg = screenClass == 'web' ? 'bg-home-web.jpg' : 'bg-home-mobile.jpg' %}
<div class="head" style="background-image: url('{{ asset('images/' ~ bgImg ~ '') }}')">
    <div class="bg-trans">
    
    </div>
</div>