{% set bgImg = screenClass == 'web' ? 'bg-home-web.jpg' : 'bg-home-mobile.jpg' %}
<div class="head" style="background-image: url('{{ 'images/' ~ bgImg ~ '' }}')">
    <div class="bg-trans">
        <div class="v-center trans-content text-center">
            <h1 class="title">Numérisez votre quotien <i class="fa-solid fa-star"></i></h1>
            <p>
                CRM, ERP, site internet,... Imaginez un outil de travail parfaitement
                adapté à votre besoin et nous vous aidons à le mettre en place.
            </p>
            <a href="#">
                <button type="button" class="btn btn-light btn-cmd">Passez votre commande</button>
            </a>
        </div>
    </div>
</div>