{% set bgImg = screenClass == 'web' ? 'bg-home-web.jpg' : 'bg-home-mobile.jpg' %}
<div class="head" style="background-image: url('{{ 'images/' ~ bgImg ~ '' }}')">
    <div class="bg-trans">
        <div class="v-center trans-content">
            <h1 class="title">Numérisez votre quotien !</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum suscipit laboriosam amet natus iure sapiente, numquam vel neque earum mollitia,
            </p>
        </div>
    </div>
</div>