{% extends 'base/index.html.twig' %}
{% block title %}DIGITAL Daily{% endblock %}
{% block body %}
<section id="home-app">
    <div class="head-content header-web">
        {% include 'home/head.html.twig' with { screenClass: 'web' } %}
    </div>
    <div class="head-content header-mobile">
        {% include 'home/head.html.twig' with { screenClass: 'mobile' } %}
    </div>
    <div class="services bg-light">
        <div class="row">
            <div class="col-sm-6">
                <h1>
                    <span>Dernière réalisation</span>
                </h1>
                <a href="#">
                    <div class="service-item" style="background-image: url('{{ 'images/last-app.jpg' }}');">
                
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <h1>
                    <span>Application sur-mesure</span>
                </h1>
                <a href="#">
                    <div class="service-item" style="background-image: url('{{ 'images/service.jpg' }}');">
                
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="about bg-light">
        <h1 class="about-title">Qui sommes-nous ?</h1>
        <div class="about-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="profile">
                        <img src="images/profile.png">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div style="position: relative; height: 100%;">
                        <div class="about-text bg-white shadow-lg v-center">
                            <h1>Title here please !</h1>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Suscipit minima, architecto animi officia nulla totam 
                                facere ab harum, nobis quasi, voluptas repudiandae 
                                dolor doloremque. Quas libero deleniti distinctio 
                                minus dolorem
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Suscipit minima, architecto animi officia nulla totam 
                                facere ab harum, nobis quasi, voluptas repudiandae 
                                dolor doloremque. Quas libero deleniti distinctio 
                                minus dolorem
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Suscipit minima, architecto animi officia nulla totam 
                                facere ab harum, nobis quasi, voluptas repudiandae 
                                dolor doloremque. Quas libero deleniti distinctio 
                                minus dolorem
                            </p>
                            <a href="#">
                                <button class="btn btn-secondary">En savoir plus</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
