{% extends 'base/index.html.twig' %}
{% block title %}DIGITAL Daily{% endblock %}
{% block body %}
<section id="home-app">
    <div class="head-content header-web">
        {% include 'home/head.html.twig' with { screenClass: 'web' } %}
    </div>
    <div class="head-content header-mobile">
        {% include 'home/head.html.twig' with { screenClass: 'mobile' } %}
    </div>
    <div class="services bg-light">
        <div class="row">
            <div class="col-sm-6">
                <h1>
                    <span>Dernière réalisation</span>
                </h1>
                <a href="#">
                    <div class="service-item" style="background-image: url('{{ 'images/last-app.jpg' }}');">
                
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <h1>
                    <span>Application sur-mesure</span>
                </h1>
                <a href="#">
                    <div class="service-item" style="background-image: url('{{ 'images/service.jpg' }}');">
                
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
