{% extends 'base/index.html.twig' %}
{% block title %}DIGITAL Daily{% endblock %}
{% block body %}
{{ encore_entry_link_tags('app-home') }}
<style>
    .head-content {
        width: 100%;
    }

    .head {
        height: 800px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg-trans {
        height: 800px;
        background-color: rgba(2, 30, 74, 0.5);
    }

    @media screen and (min-width: 1400px) {
        .services {
            padding: 100px 6%;
        }
    }

    @media (max-width: 1400px) {
        .services {
            padding: 0;
        }
        .col-sm-6 {
            width: 100%;
            margin-top: 100px;
        }
    }

    h1 {
        color: #08417aff;
        text-align: center;
        margin-bottom: 70px;
    }

    h1 span {
        padding: 15px 30px;
        border-radius: 10px;
        background-color: rgba(172, 211, 237, 0.2);
    }

    .service-item {
        width: 600px;
        height: 500px;
        margin: 0 auto;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<section id="home-app">
    <div class="head-content header-web">
        {% include 'home/head.html.twig' with { screenClass: 'web' } %}
    </div>
    <div class="head-content header-mobile">
        {% include 'home/head.html.twig' with { screenClass: 'mobile' } %}
    </div>
    <div class="services bg-light">
        <div class="row">
            <div class="col-sm-6">
                <h1>
                    <span>Dernière réalisation</span>
                </h1>
                <a href="#">
                    <div class="service-item" style="background-image: url('{{ asset('images/last-app.jpg') }}');">
                
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <h1>
                    <span>Application sur-mesure</span>
                </h1>
                <a href="#">
                    <div class="service-item" style="background-image: url('{{ asset('images/service.jpg') }}');">
                
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{{ encore_entry_script_tags('app-home') }}
{% endblock %}
