<style>
    #header-app {
        width: 100%;
        height: 130px;
        display: flex;
        position: fixed;
        justify-content: space-between;
    }

    .bg-white {
        transition: 0.1s;
    }

    .logo {
        margin-left: 50px;
        height: fit-content;
    }

    .items {
        width: 40%;
        height: 130px;
        position: relative;
    }

    @media screen and (min-width: 1700px) {
        .items {
            width: 40%;
        }
    }

    @media (max-width: 1700px) and (min-width: 1300px) {
        .items {
            width: 50%;
        }
    }

    @media screen and (min-width: 1300px) {
        .header-web {
            display: block;
        }
        .header-mobile {
            display: none;
        }
    }

    @media (max-width: 1300px) {
        #header-app {
            background-color: white;
        }
        .header-web {
            display: none;
        }
        .header-mobile {
            display: block;
        }
    }

    .items ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    }

    .items li {
        padding: 15px 30px;
        border-radius: 10px;
        background-color: rgba(172, 211, 237, 0.2);
    }

    .items-trans li {
        border: 1px solid rgba(172, 211, 237, 0.1);
        background-color: rgba(172, 211, 237, 0.1);
    }

    .items-trans a {
        font-size: 27px;
        text-decoration: none;
        color: rgba(201, 222, 246, 0.9);
    }

    .items-trans a:hover {
        transition: 0.1s;
        color: rgba(139, 186, 243, 0.9);
    }

    .items-white a {
        font-size: 27px;
        text-decoration: none;
        color: rgba(8, 43, 83, 0.9);
    }

    .items-white a:hover {
        transition: 0.1s;
        color: rgba(88, 143, 211, 0.9);
    }

    .contact {
        margin-right: 80px;
        height: fit-content;
    }
    
    .contact a {
        text-decoration: none;
    }

    .contact-trans a {
        color: rgba(201, 222, 246, 0.9);
    }

    .contact-trans a:hover {
        color: rgba(139, 186, 243, 0.9);
    }

    .contact-white a {
        color: rgba(8, 43, 83, 0.9);
    }

    .contact-white a:hover {
        color: rgba(88, 143, 211, 0.9);
    }

    .contact span {
        font-size: 22px;
        padding: 15px 30px;
        border-radius: 40px;
        border: 2px solid rgba(18, 123, 252, 0.2); 
        background-color: rgba(18, 123, 252, 0.1);
    }
</style>
<section id="header-app">
    <div class="logo v-center">
        <a href="{{ path('app_home') }}">
            <div class="header-web">
                <img class="logo-trans" src="{{ asset('images/logo-trans.png') }}">
                <img class="logo-white none" src="{{ asset('images/logo-white.png') }}">
            </div>
            <div class="header-mobile">
                <img src="{{ asset('images/logo-white.png') }}">
            </div>
        </a>
    </div>
    <div class="items items-trans header-web">
        <ul class="v-center">
            <li>
                <a href="#">Accueil</a>
            </li>
            <li>
                <a href="#">Produits</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
        </ul>
    </div>
    <div class="contact contact-trans v-center header-web">
        <a href="#">
            <span>Nous contacter</span>
        </a>
    </div>
    <div class="burger header-mobile">
        <div class="dropdown none">
            <ul>
                <li>
                    <a href="#">Accueil</a>
                </li>
                <li>
                    <a href="#">Produits</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Nous contacter</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<script>
    const logoTrans = document.querySelector('.logo-trans');
    const logoWhite = document.querySelector('.logo-white');
    const header = document.querySelector('#header-app');
    const contact = document.querySelector('.contact');
    const items = document.querySelector('.items');

    window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            logoTrans.classList.add('none');
            logoWhite.classList.remove('none');
            header.classList.add('bg-white');
            header.classList.add('shadow-sm');
            items.classList.remove('items-trans');
            items.classList.add('items-white');
            contact.classList.remove('contact-trans');
            contact.classList.add('contact-white');
        } else {
            logoTrans.classList.remove('none');
            logoWhite.classList.add('none');
            header.classList.remove('bg-white');
            header.classList.remove('shadow-sm');
            items.classList.add('items-trans');
            items.classList.remove('items-white');
            contact.classList.add('contact-trans');
            contact.classList.remove('contact-white');
        }
    });
</script>