<section id="header-app">
    <div class="logo v-center">
        <a href="{{ path('app_home') }}">
            <div class="header-web">
                <img class="logo-trans" src="images/logo-trans.png">
                <img class="logo-white none" src="images/logo-white.png">
            </div>
            <div class="header-mobile">
                <img src="images/logo-white.png">
            </div>
        </a>
    </div>
    <div class="items items-trans header-web">
        <ul class="v-center">
            <li>
                <a href="#">Accueil</a>
            </li>
            <li>
                <a href="#">Produits</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
        </ul>
    </div>
    <div class="contact contact-trans v-center header-web">
        <a href="#">
            <span>Nous contacter</span>
        </a>
    </div>
    <div class="burger header-mobile">
        <div class="dropdown none">
            <ul>
                <li>
                    <a href="#">Accueil</a>
                </li>
                <li>
                    <a href="#">Produits</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Nous contacter</a>
                </li>
            </ul>
        </div>
    </div>
</section>