.head-content {
    width: 100%;
}

.head {
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-trans {
    height: 800px;
    position: relative;
    background-color: rgba(2, 30, 74, 0.5);
}

.trans-content {
    width: 65%;
    margin: 0 auto;
}

.title {
    font-size: 90px;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
}

p {
    font-size: 30px;
    margin: 30px 0 0 0;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 1400px) {
    h1 {
        color: #08417aff;
        margin-bottom: 70px;
    }
    h1 span {
        padding: 15px 30px;
        background-color: rgba(172, 211, 237, 0.2);
    }
    .services {
        padding: 100px 6%;
    }
    .service-item {
        width: 600px;
        height: 500px;
    }
}

@media (max-width: 1400px) {
    .services {
        padding: 0;
    }
    .col-sm-6 {
        width: 100%;
        margin-top: 150px;
    }
    h1 {
        margin-bottom: 100px;
    }
    h1 span {
        font-size: 60px;
        padding: 30px 60px;
    }
    .service-item {
        width: 80%;
        height: 600px;
    }
}

h1 {
    color: #08417aff;
    text-align: center;
}

h1 span {
    border-radius: 10px;
    background-color: rgba(172, 211, 237, 0.2);
}

.service-item {
    margin: 0 auto;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}