.head-content {
    width: 100%;
}

.head {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-trans {
    position: relative;
    background-color: rgba(2, 30, 74, 0.7);
}

.trans-content {
    margin: 0 auto;
}

.title {
    text-align: center;
    color: rgba(250, 250, 250, 0.8);
}

.title i {
    font-size: 65px;
    color: transparent;
    background-clip: text; /* Support partiel sur Firefox */
    background: linear-gradient(90deg, rgba(199, 217, 81, 0.8), rgba(241, 99, 11, 0.8));
    -webkit-background-clip: text; /* Nécessaire pour Webkit (Chrome, Safari) */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent */
}

.bg-trans p {
    margin: 30px 0;
    text-align: center;
    color: rgba(250, 250, 250, 0.8);
}

.btn-cmd {
    font-size: 25px;
    padding: 8px 15px;
}

@media screen and (min-width: 1400px) {
    .head,
    .bg-trans {
        height: 800px;
    }
    .trans-content {
        width: 65%;
    }
    .title {
        font-size: 90px;
    }
    .bg-trans p {
        font-size: 35px;
    }
    .btn-cmd {
        font-size: 25px;
        padding: 8px 15px;
    }
    .services {
        padding: 100px 6%;
    }
    .service-item {
        width: 600px;
        height: 500px;
    }
    .services h1 {
        margin-bottom: 70px;
    }
    .about-title,
    .services h1 span {
        padding: 15px 30px;
    }
    .about-content {
        padding: 0 6%;
        background-color: #20baf7;
    }
    .about-text {
        padding: 40px;
        border-radius: 15px;
    }
}

@media (max-width: 1400px) {
    .head,
    .bg-trans {
        height: 900px;
    }
    .trans-content {
        width: 80%;
    }
    .title {
        font-size: 100px;
    }
    .bg-trans p {
        font-size: 45px;
    }
    .btn-cmd {
        font-size: 35px;
        padding: 10px 20px;
    }
    .services {
        padding: 0 0 150px 0;
    }
    .services .col-sm-6 {
        width: 100%;
        margin-top: 150px;
    }
    .services h1 {
        margin-bottom: 100px;
    }
    .about-title,
    .services h1 span {
        font-size: 55px;
        padding: 30px 60px;
    }
    .service-item {
        width: 80%;
        height: 600px;
    }
    .about .col-sm-6 {
        width: 100%;
    }
    .about .col-sm-6:first-child {
        padding-top: 50px;
        background-color: #20baf7;
    }
    .about-text {
        padding: 100px 40px;
    }
}

.services h1 {
    color: #08417a;
    text-align: center;
}

.services h1 span {
    border-radius: 10px;
    background-color: rgba(172, 211, 237, 0.2);
}

.service-item {
    margin: 0 auto;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.about {
    padding: 50px 0 0 0;
}

.about-content {
    padding-top: 50px;
}

.about-title {
    color: #08417a;
    width: fit-content;
    border-radius: 10px;
    margin: 0 auto 60px auto;
    background-color: rgba(172, 211, 237, 0.2);
}

.profile {
    width: 400px;
    margin: 0 auto;
}

.profile img {
    width: 100%;
}